@use '../base/mixins';
@use '../base/theme';

:root {
    --button-background-color: #{theme.$button-background-color};
    --button-text-color: #{theme.$inverted-text-color};
}

@mixin button($inline: true) {
    background-color: var(--button-background-color);
    border-radius: 0.5em;
    color: var(--button-text-color);
    cursor: pointer;

    @if $inline {
        display: inline-block;
    }
    @else {
        display: block;
    }

    line-height: 2;
    padding: 0 1em;
}

.fileControl {
    &__label {
        @include button(true);
    }

    &__input {
        @include mixins.visually-hidden;
    }
}