@use 'theme';

:root {
    --primary-background-color: #{theme.$primary-background-color};
    --primary-font-color: #{theme.$primary-text-color};
    --button-background-color: #{theme.$button-background-color};
    --button-text-color: #{theme.$inverted-text-color};
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
}

h1 {
    font-size: 2em; // Correct the font size on `h1` elements within `section` and `article` contexts in Chrome, Edge, Firefox, and Safari.
    margin: 0.67em 0; // Correct the margin on `h1` elements within `section` and `article` contexts in Chrome, Edge, Firefox, and Safari.
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300; // Light
}

html {
    font-family:
        // Safari for OS X and iOS (San Francisco)
        -apple-system,
        // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        "Roboto",
        // Basic web fallback
        "Helvetica Neue", Arial, sans-serif,
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    // Scale from minimum 16px at 1024px screen width up to maximum 20px at 1920px screen width. 224 = (1920px - 1024px) / (20px - 16px)
    font-size: clamp(16px, (16px + ((100vw - 1024px) / 224)), 20px);

    line-height: 1.15; // Correct the line height in all browsers.
    -ms-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone.
    -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
}